@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700);
body {
  background: #fff;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #000; }
  body html {
    height: 100%; }

a {
  color: #a5732a;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms; }
  a:hover {
    outline: none;
    text-decoration: none;
    color: #dbb075; }
  a:focus {
    outline: none;
    outline-offset: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  color: #737373; }

h2 {
  font-size: 25px; }

h4 {
  color: black; }

.btn-common {
  font-size: 14px;
  color: #797979;
  border: 1px solid #dbb075;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding: 10px 25px; }
  .btn-common:hover, .btn-common:focus {
    outline: none;
    background: none;
    box-shadow: none;
    color: #d29948; }

/*****HEADER******/
#header {
  margin-bottom: 0;
  padding: 30px 0 60px 0; }
  #header .social-icons ul li {
    padding: 0 10px; }
    #header .social-icons ul li:last-child {
      padding-right: 0; }
    #header .social-icons ul li a {
      font-size: 18px;
      color: #d3d3d3;
      padding: 0; }
      #header .social-icons ul li a:hover, #header .social-icons ul li a:focus {
        color: #dbb075;
        background: none; }
  #header .navbar {
    background: #fff;
    border: 0;
    margin-bottom: 0; }
    #header .navbar .navbar-header {
      padding-bottom: 20px; }
    #header .navbar .navbar-toggle {
      margin-top: 20px;
      background-color: #dbb075; }
    #header .navbar .navbar-brand {
      padding: 0;
      margin-left: 0; }
      #header .navbar .navbar-brand h1 {
        padding: 0;
        margin: 0; }
  #header .navbar-inverse .navbar-nav .active a {
    color: #dbb075;
    background: white; }
    #header .navbar-inverse .navbar-nav .active a:hover, #header .navbar-inverse .navbar-nav .active a:focus {
      color: #dbb075; }
  #header .navbar-inverse .navbar-nav .dropdown a:hover, #header .navbar-inverse .navbar-nav .dropdown a:focus {
    color: #dbb075; }

/*****SECTION HOME-SLIDER******/
#home-slider {
  background-image: url("../images/home/slider-bg.png");
  background-repeat: repeat-x;
  background-position: bottom left;
  background-size: 64.5%; }
  #home-slider .slide-text {
    position: relative;
    padding: 0% 2.1% 0% 1.5%;
    top: 82px; }
    #home-slider .slide-text p {
      margin: 0 0 30px; }
  #home-slider .col-md-7 img {
    position: relative; }
    #home-slider .col-md-7 img:nth-child(1) {
      top: -30px;
      left: 120px; }
    #home-slider .col-md-7 img:nth-child(2) {
      top: 60px;
      left: 114px; }
    #home-slider .col-md-7 img:nth-child(3) {
      right: 61px;
      top: 133px; }
    #home-slider .col-md-7 img:nth-child(4) {
      top: 104px;
      right: 69px; }
    #home-slider .col-md-7 img:nth-child(5) {
      top: -22px;
      left: 34px; }
    #home-slider .col-md-7 img:nth-child(6) {
      top: 17px;
      left: 39px; }
    #home-slider .col-md-7 img:nth-child(7) {
      right: 50px;
      top: 198px; }
    #home-slider .col-md-7 img:nth-child(8) {
      top: 1px;
      left: 143px; }

/** SECTION SERVICES **/
#services .service-1 {
  padding: 71px 50px; }
#services .service-2 {
  padding: 31px 50px; }
#services .service-3 {
  padding: 76px 50px; }

#action {
  background-image: url("../images/home/tour-bg.png");
  background-color: rgba(0, 0, 0, 0.05);
  background-blend-mode: color;
  background-position: right center;
  background-size: 109%;
  padding: 20px; }
  #action h1 {
    color: #383838; }
  #action .tour-button {
    position: relative;
    top: 29px;
    right: 103px; }
  #action .plane {
    background-image: url("../images/home/tour-icon2.png");
    background-repeat: repeat-x;
    background-size: cover;
    position: absolute;
    top: -15px;
    left: 202px;
    height: 297%;
    width: 77%; }

/** SECTION FEATURES **/
#features {
  padding-top: 31px; }
  #features .row {
    padding-bottom: 80px; }
  #features .col-sm-6 {
    padding-left: 48px; }

/** SECTION CLIENTS **/
#clients h1 {
  color: #383838; }

/** SECTION FOOTER **/
#footer {
  padding: 20px 0;
  background-image: url("../images/home/footer.png");
  background-position: center 98%;
  background-repeat: repeat-x;
  background-size: 100%; }
  #footer a {
    color: #d99c4e; }
  #footer .col-sm-12 img {
    width: 72%; }
  #footer .col-sm-12:first-child {
    padding-bottom: 100px; }
  #footer .col-sm-12:last-child {
    padding: 50px 0px 70px; }
  #footer input, #footer textarea {
    border: 1px solid #d99c4e; }
  #footer .btn-submit {
    width: 100%;
    background-color: #d99c4e;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: white;
    border-bottom: 3px solid #A36414; }
  #footer blockquote {
    border-left: none;
    padding-left: 26px;
    padding-right: 68px;
    position: relative;
    margin-bottom: 0; }
    #footer blockquote:after, #footer blockquote:before {
      position: absolute;
      right: 58px;
      bottom: 15px;
      content: '"';
      font-size: 40px;
      color: #d99c4e;
      font-family: "Noto Sans", sans-serif;
      line-height: 0; }
    #footer blockquote:before {
      right: 246px;
      bottom: 122px;
      transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -webkit-transform: rotate(180deg); }
  #footer h2 {
    margin-bottom: 60px; }

@media screen and (max-width: 1257px) {
  #action .plane {
    display: none; } 
  #footer {
  	 background-size: cover;
  }

}

/*# sourceMappingURL=main.css.map */
